main{
    padding: 2rem;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.display--card{
    width: 50vw;
    height: 45vh;
    border-radius: 30px;
    background-color: aqua;
    position: relative;
    margin-right: .8rem;
}

.title--container{
    width: 100%;
    height: 30%;
    background: rgba(000, 000, 000, .3);
    position: absolute;
    bottom: 0;
    right: 0;
}

.title{
    color: black;
    margin: 2rem;
}

.members--container{
    background-color: #1B1D29;
    width: 30vw;
    height: 45vh;
    border-radius: 30px;
    padding: 1rem;
}

.member--card{
    display: flex;
    border-radius: 30px;
    align-items: center;
    transition: .2s;
}

.member--card:hover{
    background-color: #F22C43;
}

.member--pfp{
    width: 3rem;
    border-radius: 50px;
    aspect-ratio: 1/1;
    margin: 1rem;
    margin-left: 1.5rem;
}

.member--name{
    margin-left: 1rem;
    font-weight: 900;
}

.description{
    margin-left: 1rem;
}


