@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web:wght@400;600&display=swap');

:root{
  font-family: 'Roboto', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to bottom, #11141B 0%, #122123 100%)
}


.App{
  display: flex;
}

.flex--display{
  width: 100%;
}